<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="stylesheet" href="css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/icons/site.webmanifest">
</head>
<body> 
    <nav class="navBar"><a href="/" class="customList"><%= page %></a></nav>
    <div class="mainContainer">
        
        <div class="container">
            <div class="box">
                <h2><%= generalDate %></h2> 
                <h2 class="time"><%= currentDay %></h2>
            </div>
            <div>
                <img src="/images/tasks.png" alt="tasks" class="img">
            </div>
            <div class="text">
                The time when you had to jot down your daily tasks in your brain has gone!! Use this task manager to save your sanity and be up to date with your daily stuff!! 
            </div>
        </div>
        <div class="container">
            <div class="box">
                <h2><%= listTitle %></h2>
            </div>
            <div class="box">
                <div class="item">
                    <% tasks.forEach((task) => { %>
                        <form action="/delete" method="post">
                            <li class="listItem">
                                <input type="checkbox" name="isCheck" value="<%= task._id %>" onchange="submit()">
                                <span class="strike"><%= task.name %></span>
                            </li>
                            <input type="hidden" name="hiddenInput" value="<%= listTitle %>"></input>
                        </form>
                    <% }) %>
                </div>
                <form action="/" method="post">
                    <input type="text" name="inputTask" placeholder="Enter your task" autocomplete="off">
                    <button type="submit" name="buttonAttr" value="<%= listTitle %>">+</button>
                </form>
            </div>
        </div>
    </div>
        
</body>
</html>